@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 3% 89%;
    --foreground: 36 45% 15%;

    --card: 36 46% 82%;
    --card-foreground: 36 45% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 26 5% 74%;
    --primary-foreground: 36 45% 11%;

    --secondary: 40 35% 77%;
    --secondary-foreground: 36 45% 25%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;

    --accent: 36 64% 57%;
    --accent-foreground: 36 72% 17%;

    --destructive: 0 84% 37%;
    --destructive-foreground: 0 0% 98%;

    --border: 36 45% 60%;
    --input: 26 5% 74%;
    --ring: 26 5% 74%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-primary-foreground;
  }
}

@layer utilities {
  .wrapper {
    @apply px-5
    md:px-10
    xl:px-20
    2xl:px-40;
  }
  .header {
    @apply sticky top-0 z-20 flex h-[4.5rem] w-full items-center justify-center bg-white/90 py-3 shadow-sm dark:bg-gray-950  md:py-4;
  }
  .section {
    @apply flex w-full flex-col pt-12  md:pt-24;
  }
  .section-gap {
    @apply gap-5 lg:gap-7 2xl:gap-10;
  }
  .section-title {
    @apply text-3xl sm:text-4xl md:text-5xl leading-none font-bold lg:text-6xl uppercase;
  }

  .projects-title {
    @apply -ml-[2.5px] sm:-ml-[3px] md:-ml-[3.8px] lg:-ml-[4.7px];
  }

  .projects-link {
    @apply flex items-center tracking-tighter leading-none w-min xs:w-auto text-sm sm:text-xl md:text-2xl lg:text-3xl font-semibold text-center;
  }

  .mobile-link {
    @apply relative w-max text-xl font-bold tracking-tighter md:text-2xl xl:text-3xl hover:text-primary-foreground/80;
  }

  .projects-grid {
    @apply grid w-full grid-cols-1 section-gap sm:grid-cols-2 xl:grid-cols-3;
  }

  .projects-img {
    @apply size-full object-cover transition-all duration-500 group-hover:scale-110;
  }

  .projects-img-filter {
    @apply absolute inset-0 bg-background/30 z-[1] group-hover:opacity-0 transition-opacity duration-500;
  }

  .projects-img-title {
    @apply absolute bottom-10 z-[2] group-hover:translate-x-2 left-8 transition-transform duration-500 text-white;
  }

  .img-span-2 {
    @apply sm:last:aspect-video sm:last:col-span-2 xl:last:col-span-1 xl:last:aspect-[7/10];
  }

  .btn {
    @apply text-sm leading-none px-1.5 sm:px-3 uppercase font-bold font-museoSansCyrl md:text-xl;
  }

  .svgBg {
    @apply absolute inset-x-0 -bottom-12 top-2 z-[-1] grid grid-cols-[repeat(10,1fr)] md:grid-cols-[repeat(15,1fr)] lg:grid-cols-[repeat(22,1fr)] md:-bottom-24;
  }
  .svgBg-line {
    @apply w-px bg-[#cac9c9];
  }
}

.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: hsl(36 45% 15%) !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: hsl(36 45% 15%) !important;
}
