@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 3% 89%;
    --foreground: 30 15% 20%;

    --primary: 26 5% 74%;
    --primary-foreground: 26 35% 15%;

    --muted: 30 3% 80%;
    --muted-foreground: 30 10% 30%;

    --card: 30 3% 89%;
    --card-foreground: 30 15% 20%;

    --popover: 30 3% 89%;
    --popover-foreground: 30 15% 20%;

    --border: 30 3% 70%;
    --input: 30 3% 70%;

    --secondary: 26 5% 60%;
    --secondary-foreground: 26 30% 15%;

    --accent: 26 5% 65%;
    --accent-foreground: 26 40% 20%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 100% 95%;

    --ring: 30 15% 50%;
  }

  .dark {
    --background: 30 3% 20%;
    --foreground: 30 15% 90%;

    --primary: 26 5% 50%;
    --primary-foreground: 26 35% 90%;

    --muted: 30 3% 30%;
    --muted-foreground: 30 10% 70%;

    --card: 30 3% 20%;
    --card-foreground: 30 15% 90%;

    --popover: 30 3% 20%;
    --popover-foreground: 30 15% 90%;

    --border: 30 3% 40%;
    --input: 30 3% 40%;

    --secondary: 26 5% 50%;
    --secondary-foreground: 26 30% 85%;

    --accent: 26 5% 55%;
    --accent-foreground: 26 40% 80%;

    --destructive: 0 60% 40%;
    --destructive-foreground: 0 100% 95%;

    --ring: 30 15% 30%;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-foreground;
  }
  body {
    @apply bg-background text-foreground;
  }
  .hero-gallery {
    @apply h-[200px] md:h-[250px] xl:h-[320px];
  }
}

@layer utilities {
  /* Section */
  .wrapper {
    @apply px-5
    
    md:px-7
    lg:px-14
    xl:px-20
    2xl:px-28;
  }

  .section {
    @apply flex w-full flex-col pb-14 md:pb-20 bg-background;
  }

  .section-start {
    @apply pt-5 lg:pt-8;
  }

  .section-gap {
    @apply gap-5 md:gap-7;
  }

  .section-title {
    @apply text-2xl font-bold uppercase tracking-tighter xs:text-3xl md:text-4xl xl:text-5xl;
  }

  .background-img {
    @apply bg-fixed bg-center bg-cover bg-no-repeat bg-gray-400 bg-blend-multiply;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .separator {
    @apply w-full border-b-2;
  }

  /* Header */
  .header {
    @apply sticky top-0 z-20 flex h-[4rem] w-full items-center justify-center bg-background/90 shadow-md;
  }

  .nav-social {
    @apply flex size-full items-center text-foreground hover:text-secondary;
  }

  .mobile-close {
    @apply absolute left-0 size-full opacity-0;
  }

  .mobile-links_container {
    @apply flex flex-col gap-6;
  }

  .mobile-link {
    @apply relative w-max font-bold tracking-tighter text-2xl/none hover:text-foreground/80;
  }

  .mobile-link_projects {
    @apply relative w-max font-medium hover:text-foreground/80 text-xl/none;
  }

  .mobile-projects_container {
    @apply gap-3 flex flex-col;
  }

  /* Hero */
  .hero {
    @apply relative flex h-[clamp(73vh,83svh,83vh)] w-full overflow-hidden;
  }

  .hero-gallery {
    @apply relative flex portrait:h-[clamp(150px,20svh,250px)] landscape:h-[clamp(220px,30svh,320px)] xl:landscape:h-[clamp(250px,35svh,350px)] md:portrait:h-[clamp(250px,20svh,350px)] w-full overflow-hidden;
  }

  .hero-text {
    @apply absolute flex flex-col gap-4 md:gap-6 lg:gap-8 self-end text-pretty pb-[2vh] md:pb-[4vh] lg:pb-[5vh] xl:pb-[6vh] text-left font-montserrat text-2xl xs:text-3xl md:text-4xl font-thin text-white xl:text-5xl;
  }

  /* Office */
  .office-text {
    @apply flex flex-col font-montserrat text-base/tight xs:text-lg/tight md:text-xl/tight xl:text-2xl/tight;
  }

  .office-text_title {
    @apply text-xl/none font-bold tracking-tighter xs:text-2xl/none md:text-3xl/none xl:text-4xl/none;
  }

  .office-question {
    @apply grid w-full grid-cols-1 md:grid-cols-[30%_1fr] md:gap-2;
  }

  .office-question_title {
    @apply ml-[-1.8px] self-center font-bold text-balance text-lg/none xs:text-xl/none md:text-2xl/none xl:text-3xl/none;
  }

  .office-question_text-container {
    @apply section-gap flex flex-col font-montserrat items-center md:flex-row text-sm/none xs:text-base/none md:text-lg/none xl:text-xl/none;
  }

  .office-question_text {
    @apply ml-[-1.8px] text-pretty md:ml-0;
  }

  .office-question_text-title {
    @apply inline text-base/none xs:text-lg/none font-bold md:text-xl/none xl:text-2xl/none;
  }

  .office-question_text-description {
    @apply inline tracking-tight;
  }

  /* Projects */
  .projects-title {
    @apply -ml-[1.9px] sm:-ml-[2.5px] md:-ml-[3.1px] lg:-ml-[4px];
  }

  .projects-link {
    @apply tracking-tighter  uppercase w-min xs:w-auto text-xs/none sm:text-lg/none md:text-xl/none xl:text-2xl/none hover:text-foreground/80 font-light text-center;
  }

  .projects-container {
    @apply flex h-max w-full flex-row items-center justify-between gap-2;
  }

  .projects-btn {
    @apply w-[48%] max-w-max shrink-0 text-wrap;
  }

  .projects-links-container {
    @apply flex justify-center lg:justify-between gap-1 sm:gap-2 transition-all duration-300 lg:px-10;
  }

  .projects-grid {
    @apply grid w-full grid-cols-1 section-gap sm:grid-cols-2 lg:grid-cols-3;
  }

  .projects-img {
    @apply size-full object-cover transition-transform duration-500 group-hover:scale-110;
  }

  .projects-img_container {
    @apply relative aspect-[7/10] size-full max-h-[80vh] overflow-hidden;
  }

  .projects-img_filter {
    @apply absolute inset-0 bg-background/30 z-[1] group-hover:opacity-0 transition-opacity duration-500;
  }

  .projects-img_title {
    @apply absolute pr-4 bottom-10 left-8 z-[2] font-montserrat text-2xl/none md:text-3xl/none lg:text-2xl/none  2xl:text-3xl/none font-extralight text-white transition-transform duration-500 group-hover:translate-x-2;
  }

  /* About */
  .about-img {
    @apply flex aspect-[7/10] max-h-[80vh] w-full flex-col gap-2 transition-all duration-500 hover:-translate-y-3 hover:scale-[103%] hover:shadow-lg;
  }

  .img-span-2 {
    @apply sm:last:aspect-video sm:last:col-span-2 lg:last:col-span-1 lg:last:aspect-[7/10];
  }

  .about-img_title {
    @apply text-xl/none tracking-tight xs:text-2xl/none sm:text-xl/[none] xl:text-2xl/none;
  }

  .about-img_description {
    @apply text-lg/none font-medium italic text-muted-foreground xs:text-xl/none sm:text-lg/none xl:text-xl/none;
  }

  /* Contact */
  .appointment-section {
    @apply h-[clamp(50vh,60svh,60vh)] w-full  gap-6 flex-center flex-col;
  }

  .appointment-text {
    @apply max-w-[60ch] px-6 text-center font-montserrat text-xl/none text-white  md:text-2xl/none xl:text-3xl/none;
  }

  .appointment-container {
    @apply grid relative flex-1 grid-cols-1 min-h-screen lg:min-h-max lg:grid-cols-[1fr_auto] content-start justify-items-center gap-5 py-10;
  }

  .appointment-fieldset {
    @apply grid grid-cols-1 h-max gap-1 xl:grid-cols-3;
  }

  .appointment-field {
    @apply min-h-40 h-max w-full bg-white flex flex-col gap-5 px-2 py-3 hover:bg-gray-50 hover:shadow-md hover:shadow-gray-600;
  }

  .appointment-field_title {
    @apply text-xl font-bold;
  }

  .contact-text {
    @apply mb-8 max-w-[60ch] text-center text-base/none xs:text-lg/none md:text-xl/none xl:text-2xl/none;
  }

  .contact-container {
    @apply flex w-auto flex-col-reverse items-center justify-center gap-6 md:gap-10 lg:flex-row lg:items-start lg:justify-center lg:gap-20;
  }

  .contact-info_container {
    @apply flex flex-col items-center justify-center gap-2 text-center lg:items-start lg:gap-4 lg:text-left;
  }

  .contact-info {
    @apply flex w-full flex-col items-center justify-center gap-2 font-montserrat text-base font-normal xs:text-lg lg:items-start;
  }

  .btn {
    @apply px-[0.15rem] py-0 font-museoSansCyrl tracking-tighter text-sm font-bold h-7 uppercase xs:px-1.5 xs:text-base sm:px-2 sm:text-lg md:text-xl;
  }

  .btn-contact {
    @apply font-museoSansCyrl text-lg font-bold uppercase md:text-xl;
  }

  .input {
    @apply flex h-10 w-full rounded-md border-2 border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .input-text {
    @apply text-base;
  }

  /* SVG */
  .svgBg {
    @apply absolute inset-x-0 bottom-0 top-0 z-[0] grid grid-cols-[repeat(10,1fr)] md:grid-cols-[repeat(16,1fr)] lg:grid-cols-[repeat(22,1fr)];
  }

  .svgBg-line {
    @apply border-l border-border;
  }

  .svgBg-square_sm {
    @apply absolute bottom-0 top-[76%] xs:top-[75%] w-full md:aspect-[1/4] md:top-auto bg-muted lg:bottom-[16%] lg:top-[auto] lg:max-h-[40%];
  }

  .svg-circle {
    @apply absolute left-0 right-[-102%] hidden aspect-square rounded-full border border-muted-foreground lg:block;
  }

  .svgBg-square_lg {
    @apply absolute w-full top-[12%] bottom-[24%]  xs:bottom-[25%] sm:top-[11%] md:bottom-[32%] md:top-[11.5%] lg:top-[17%] lg:bottom-[7%] xl:top-[18.5%] bg-muted;
  }
}

.datePicker {
  width: 100%;
}

.react-datepicker ::-webkit-scrollbar {
  display: none;
}

.react-datepicker {
  display: flex !important;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: hsl(var(--primary)) !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-datepicker__time-list-item:hover {
  background-color: hsl(var(--background)) !important;
}

.react-datepicker__day:hover {
  background-color: hsl(var(--background)) !important;
}

.react-datepicker__time-list-item--selected {
  background-color: hsl(var(--primary)) !important;
}
