@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 3% 89%;
    --foreground: 36 45% 15%;

    --card: 36 46% 82%;
    --card-foreground: 36 45% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 26 5% 74%;
    --primary-foreground: 36 45% 11%;

    --secondary: 40 35% 77%;
    --secondary-foreground: 36 45% 25%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 266 4% 36%;

    --accent: 36 64% 57%;
    --accent-foreground: 36 72% 17%;

    --destructive: 0 84% 37%;
    --destructive-foreground: 0 0% 98%;

    --border: 36 45% 60%;
    --input: 26 5% 74%;
    --ring: 26 5% 74%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-primary-foreground;
  }
  body {
    @apply bg-background text-primary-foreground;
  }
}

@layer utilities {
  /* Section */
  .wrapper {
    @apply px-5
    md:px-10
    lg:px-20
    xl:px-32
    2xl:px-40;
  }

  .section {
    @apply flex w-full flex-col pt-14 md:pt-20;
  }

  .section-start {
    @apply -mt-6 md:-mt-12;
  }

  .section-gap {
    @apply gap-5 md:gap-7;
  }

  .section-title {
    @apply text-2xl font-bold uppercase tracking-tighter sm:text-3xl md:text-4xl lg:text-5xl;
  }

  .background-img {
    @apply flex flex-col items-center justify-center bg-fixed bg-center bg-cover bg-no-repeat bg-gray-400 bg-blend-multiply;
  }

  /* Header */
  .header {
    @apply sticky top-0 z-20 flex h-[3rem] md:h-[4rem] w-full items-center justify-center bg-background/90 shadow-md;
  }

  .mobile-close {
    @apply absolute left-0 size-full opacity-0;
  }

  .mobile-links_container {
    @apply flex flex-col gap-6;
  }

  .mobile-link {
    @apply relative w-max font-bold tracking-tighter text-2xl/none hover:text-primary-foreground/80;
  }

  .mobile-link_projects {
    @apply relative w-max font-medium hover:text-primary-foreground/80 text-xl/none;
  }

  .mobile-projects_container {
    @apply gap-3 flex flex-col;
  }

  /* Hero */
  .hero {
    @apply relative flex h-[clamp(73vh,83svh,83vh)] w-full overflow-hidden;
  }

  .hero-text {
    @apply absolute flex flex-col gap-4 sm:gap-6 md:gap-8 lg:gap-10 self-end text-pretty pb-5 md:pb-10 lg:pb-12 xl:pb-14 2xl:pb-16 text-left font-montserrat text-2xl sm:text-3xl md:text-4xl font-thin text-white lg:text-5xl;
  }

  .hero_gallery-text {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl uppercase tracking-wider sticky top-[4.5rem] font-bold text-white;
  }

  /* Office */
  .office-text {
    @apply flex flex-col font-montserrat text-base/tight sm:text-lg/tight md:text-xl/tight lg:text-2xl/tight;
  }

  .office-text_title {
    @apply text-xl/none font-bold tracking-tighter sm:text-2xl/none md:text-3xl/none lg:text-4xl/none;
  }

  .office-question {
    @apply grid w-full grid-cols-1 md:grid-cols-[30%_1fr] md:gap-2;
  }

  .office-question_title {
    @apply ml-[-1.8px] self-center font-bold text-balance text-lg/none sm:text-xl/none md:text-2xl/none lg:text-3xl/none;
  }

  .office-question_text-container {
    @apply section-gap flex flex-col items-center md:flex-row;
  }

  .office-question_text {
    @apply ml-[-1.8px] text-pretty font-montserrat leading-none md:ml-0;
  }

  .office-question_text-title {
    @apply inline text-base/none sm:text-lg/none font-bold md:text-xl/none lg:text-2xl/none;
  }

  .office-question_text-description {
    @apply inline text-sm/none sm:text-base/none md:text-lg/none tracking-tight lg:text-xl/none;
  }

  /* Projects */
  .projects-title {
    @apply -ml-[1.9px] sm:-ml-[2.5px] md:-ml-[3.1px] lg:-ml-[4px];
  }

  .projects-link {
    @apply tracking-tighter  uppercase w-min xs:w-auto text-xs/none sm:text-lg/none md:text-xl/none lg:text-2xl/none hover:text-primary-foreground/80 font-light text-center;
  }

  .projects-container {
    @apply flex h-max w-full flex-row items-center justify-between gap-2;
  }

  .projects-btn {
    @apply w-[48%] max-w-max shrink-0 text-wrap;
  }

  .projects-links-container {
    @apply flex justify-center lg:justify-between gap-1 sm:gap-2 transition-all duration-300 lg:px-10;
  }

  .projects-grid {
    @apply grid w-full grid-cols-1 section-gap sm:grid-cols-2 xl:grid-cols-3;
  }

  .projects-img {
    @apply size-full object-cover transition-transform duration-500 group-hover:scale-110;
  }

  .projects-img_container {
    @apply relative aspect-[7/10] size-full max-h-[80vh] overflow-hidden;
  }

  .projects-img_filter {
    @apply absolute inset-0 bg-background/30 z-[1] group-hover:opacity-0 transition-opacity duration-500;
  }

  .projects-img_title {
    @apply absolute bottom-10 left-8 z-[2] font-montserrat text-2xl/none md:text-3xl/none lg:text-4xl/none xl:text-3xl/none font-extralight text-white transition-transform duration-500 group-hover:translate-x-2;
  }

  .projects-hero_gallery {
    @apply h-[70vh];
  }

  /* About */
  .about-img {
    @apply flex aspect-[7/10] max-h-[80vh] w-full flex-col gap-2 transition-all duration-500 hover:-translate-y-3 hover:scale-[103%] hover:shadow-lg;
  }

  .img-span-2 {
    @apply sm:last:aspect-video sm:last:col-span-2 xl:last:col-span-1 xl:last:aspect-[7/10];
  }

  /* Contact */
  .appointment {
    @apply h-[60vh] w-full mt-12 gap-6 md:mt-20;
  }

  .appointment-text {
    @apply max-w-[60ch] px-6 text-center font-montserrat text-xl/none text-white  md:text-2xl/none lg:text-3xl/none;
  }

  .btn {
    @apply px-[0.15rem] py-0 font-museoSansCyrl tracking-tighter text-sm font-bold h-7 uppercase xs:px-1.5 xs:text-base sm:px-2 sm:text-lg md:text-xl;
  }

  .btn-contact {
    @apply font-museoSansCyrl text-lg font-bold uppercase md:text-xl;
  }

  .input {
    @apply flex h-10 w-full rounded-md border-2 border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  /* SVG */
  .svgBg {
    @apply absolute inset-x-0 -bottom-12 -top-[6rem] z-[-10] grid grid-cols-[repeat(10,1fr)] md:grid-cols-[repeat(16,1fr)] lg:grid-cols-[repeat(22,1fr)] md:-bottom-24;
  }
  .svgBg-line {
    @apply border-l border-[#b6b5b5];
  }

  .svgBg-square-sm {
    @apply absolute bottom-0 aspect-[1/4] max-h-[25%] w-full bg-[#d4d3d3] lg:bottom-auto lg:top-[58%] lg:h-auto lg:max-h-[40%];
  }

  .svgBg-square-lg {
    @apply absolute w-full top-[22%] bottom-[25%] md:bottom-[28%] md:top-[22%] lg:top-[29%] lg:bottom-[7%] bg-[#d4d3d3];
  }
}

.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: hsl(26 5% 74%) !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: hsl(26 5% 74%) !important;
}
